:root,
.dark {
  color-scheme: dark;
  --font-sans: "Segoe UI", "Noto Sans", "Helvetica Neue", sans-serif;
  --font-mono: "JetBrains Mono", "SFMono-Regular", "Menlo", "Monaco", monospace;
  --background: 223 19% 7%;
  --foreground: 220 32% 92%;
  --card: 224 27% 11%;
  --card-foreground: 220 32% 92%;
  --popover: 223 30% 14%;
  --popover-foreground: 220 32% 92%;
  --primary: 258 90% 66%;
  --primary-foreground: 220 32% 92%;
  --secondary: 221 29% 18%;
  --secondary-foreground: 220 32% 92%;
  --muted: 223 30% 14%;
  --muted-foreground: 219 15% 74%;
  --accent: 259 66% 55%;
  --accent-foreground: 220 32% 92%;
  --destructive: 0 49% 53%;
  --destructive-foreground: 220 32% 92%;
  --border: 222 24% 22%;
  --input: 222 24% 22%;
  --ring: 258 90% 66%;
  --chart-1: 258 90% 66%;
  --chart-2: 218 100% 71%;
  --chart-3: 156 48% 44%;
  --chart-4: 35 51% 50%;
  --chart-5: 0 49% 53%;
  --radius: 0.625rem;

  --tl-bg-0: 223 19% 7%;
  --tl-bg-1: 224 27% 11%;
  --tl-bg-2: 223 30% 14%;
  --tl-bg-3: 221 29% 18%;

  --tl-text-1: 220 32% 92%;
  --tl-text-2: 219 15% 74%;
  --tl-text-3: 221 12% 59%;

  --tl-accent-1: 258 90% 66%;
  --tl-accent-2: 259 66% 55%;
  --tl-accent-3: 218 100% 71%;

  --tl-success: 156 48% 44%;
  --tl-running: 213 57% 52%;
  --tl-warning: 35 51% 50%;
  --tl-error: 0 49% 53%;

  --tl-profit: 150 46% 52%;
  --tl-loss: 0 57% 61%;

  --tl-border-1: 222 24% 22%;
  --tl-border-2: 223 24% 26%;
}
